{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid py-4">


    <div class="pt-2 d-flex justify-content-between">
      <a class="btn btn-primary btn-sm mb-0" href="{% url 'task_manager:worker-create' %}">Create</a>
      <div class="invisible">
        <form action="" method="get">
          <div class="d-flex">
            <input type="text" class="form-control form-control-sm me-2" placeholder="Type to search..." name="search" value="{{ search }}">
            <div class="input-group-append">
              <input class="btn btn-sm btn-outline-secondary mb-0" type="submit" value="Search">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header">
            <div class=" col-lg-6 col-7">
              <h5>Workers</h5>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="col-4 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="col-3 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Active tasks</th>
                    <th class="col-3 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completed tasks</th>
                    <th class="col-2 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Position</th>
                  </tr>
                </thead>
                <tbody>
                  {% for worker in worker_list %}
                    <tr>
                      <td class="col-4 text-wrap">
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"><a href="{{ worker.get_absolute_url }}">{{ worker.get_full_name|default:worker.username }}</a></h6>
                          </div>
                        </div>
                      <td class="col-3 align-middle text-center">
                        {% if worker.active_tasks %}
                          <a class="badge bg-gradient-faded-success" href="{% url 'task_manager:task-list' %}?worker={{ worker.id }}&completed=false">{{ worker.active_tasks }}</a>
                        {% endif %}
                      </td>
                      <td class="col-3 align-middle text-center">
                        {% if worker.completed_tasks %}
                          <a class="badge bg-gradient-faded-info" href="{% url 'task_manager:task-list' %}?worker={{ worker.id }}&completed=true">{{ worker.completed_tasks }}</a>
                        {% endif %}
                      </td>
                      <td class="col-2 align-middle text-center text-sm">
                        <p class="text-sm font-weight-bold mb-0">{{ worker.position.name }}</p>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
